<!DOCTYPE html>
<html ng-app="graviphotonSwagger">
    <link href="https://cdn.nova.scapp.io/css/comstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.nova.scapp.io/css/comstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bower_components/angular-swagger-ui/dist/css/swagger-ui.min.css" rel="stylesheet" type="text/css"/>
    <style>
    html {
        height: 100%;
    }
    body {
        background-image: url("https://graviphoton-develop.nova.scapp.io/assets/images/evoja_logo.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
    }
    .main-content {
        background-color: rgba(255, 255, 255, 0.95);
        margin-bottom: 130px;
    }
    .api-version {
        text-transform: lowercase;
    }
    .api-version span.h4 {
        font-size: 14px;
    }
    </style>
    <body style="margin-top:70px" ng-controller="SwaggerUiCtrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="https://cdn.nova.scapp.io/img/sc_logo.png">
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <select class="form-control navbar-btn" id="select" ng-model="url" ng-change="onChange(this)">
                                <option ng-repeat="host in hosts" value="{{ host.ref + '/swagger.json' }}">{{ host.name }}</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid main-content">
            <div ng-show="isError" class="alert alert-danger">
                <strong>Error fetching swagger</strong> please choose a different backend from the menu or try again later.
            </div>
            <div ng-show="isLoading" class="sc-spinner-container">
                <span class="sc-spinner sc-spinner-lg"></span>
                <h5 class="sc-spinner-text">loading<span class="sc-spinner-dots">.</span></h5>
            </div>
            <div ng-show="url && !isLoading" swagger-ui loading="isLoading" url="url" api-explorer="true" error-handler="onError"></div>
            <div ng-show="!url && !isError">
                <h1>Swagger UI</h1>
                <p>Please choose a backend from the menu.</p>
            </div>
        </div>
        <script src="/bower_components/airbrake-js-client/dist/client.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.nova.scapp.io/js/comstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-swagger-ui/dist/scripts/swagger-ui.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script>
        var swaggerBrowserConfig = {
            "registryEndpoint": "https://gravity-platform-registry.nova.scapp.io/registry",
            "airbrakeId": "84d23cb3b5af09b85470f28f42083ceb",
            "airbrakeKey": "84d23cb3b5af09b85470f28f42083ceb",
            "airbrakeHost": "https://errbit-develop.nova.scapp.io"
        };
        //<!--# include file="config.js" -->
        </script>
        <script>
            angular
                .module('graviphotonSwagger', ['ngResource', 'ngSanitize', 'ngCookies', 'swaggerUi'])
                .constant('config', swaggerBrowserConfig)
                .run(function(swaggerModules, swaggerUiHost, swaggerUiExplorerRequest){
                    swaggerModules.add(swaggerModules.BEFORE_DISPLAY, swaggerUiHost);
                    swaggerModules.add(swaggerModules.BEFORE_EXPLORER_LOAD, swaggerUiExplorerRequest);
                })
                .controller('SwaggerUiCtrl', function($scope, $cookies, $rootScope, airbrake, Registry) {
                    $scope.isLoading = false;

                    $scope.hosts = Registry.query();

                    $scope.cookieUrl = $cookies.swaggerUrl;
                    $scope.url = $cookies.swaggerUrl ? $cookies.swaggerUrl : false;
                    $scope.isDefault = $scope.cookieUrl == $scope.url;
                    $rootScope.url = $scope.url;

                    $scope.onError = function(data, status) {
                        $scope.isError = true;
                        airbrake.notify({
                            "message": "Failed to load swagger from " + $scope.url,
                            "status": status,
                            "data": data
                        });
                        $scope.url = false;
                    };
                    $scope.onChange = function() {
                        $scope.isError = false;
                        $rootScope.url = $scope.url;
                        $scope.isDefault = $scope.cookieUrl == $scope.url;
                    };
                    $scope.onSetDefault = function() {
                        $cookies.swaggerUrl = $scope.url;
                        $scope.cookieUrl = $cookies.swaggerUrl;
                        $scope.isDefault = true;
                    };

                })
                .factory('Registry', function($resource, config) {
                    return $resource(config.registryEndpoint);
                })
                .factory('airbrake', function(config) {
                    var airbrake = new airbrakeJs.Client({
                        projectId: config.airbrakeId,
                        projectKey: config.airbrakeKey,
                    });
                    if (config.airbrakeHost) {
                        airbrake.setHost(config.airbrakeHost);
                    }
                    return airbrake;
                })
                .factory('$exceptionHandler', function ($log, airbrake) {
                    airbrake.addFilter(function (notice) {
                        return notice;
                    });

                    return function (exception, cause) {
                        $log.error(exception);
                        exception.params = {cause: cause};
                        airbrake.notify(exception);
                    };
                })
                .service('swaggerUiHost', function($q, $rootScope) {
                    // inject full service host into swagger since we only get sent localhost from graviton
                    this.execute = function(swaggerSchema) {
                        var deferred = $q.defer();

                        var parser = document.createElement('a');
                        parser.href = $rootScope.url;
                        if (parser.href) {
                            swaggerSchema.infos.host = parser.host;
                            deferred.resolve();
                        } else {
                            deferred.reject({message: 'Failed to set host', code: '500'});
                        }

                        return deferred.promise;
                    };
                })
                .service('swaggerUiExplorerRequest', function($q, $rootScope) {
                    // fix explorer requests since we get sent to localhost by gravitons swagger
                    this.execute = function(request) {
                        var deferred = $q.defer();
                        var parser = document.createElement('a');

                        parser.href = $rootScope.url;
                        if (parser.host) {
                            url = parser.protocol + '//' + parser.host 
                        } else {
                            deferred.reject({message: 'Failed to set host', code: '500'});
                        }

                        parser.href = request.url;
                        if (parser.pathname) {
                            path = parser.pathname;
                            if (path.slice(0,2) == '//') {
                                path = path.slice(1);
                            }
                            url += path + parser.search + parser.hash;
                            request.url = url
                        } else {
                            deferred.reject({message: 'Failed to set host', code: '500'});
                        }

                        deferred.resolve();
                        return deferred.promise;
                    };
                });
        </script>
    </body>
</html>
